
/* same code but empty */


body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}

.playlist-container {
    padding: 20px;
    margin: 0 auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding-left: -300px;
    padding-right: 500px;
}

th, td {
    padding: 10px;
    text-align: left;
    width: auto;
}

th {
    background-color: #282828;
}

tr:nth-child(even) {
    background-color: #242424;
}

tr:hover {
    background-color: #333;
}

a {
    color: #1db954;
    text-decoration: none;
}

.playlist-container {
    max-width: 80%; 
    margin: 0 auto; 
}

table {
    width: 100%; 
    table-layout: fixed; 
}

td {
    padding: 8px; 
}

td:last-child {
    padding-right: 5px; 
}


* {
    padding: 0;
    margin: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: black;
    padding: 24px;
}

.sidebar .logo img {
    width: 130px;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}

.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
    color: #b3b3b3;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
    color: #ffffff;
}

.sidebar .policies {
    position: absolute;
    bottom: 100px;
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
}


.add-button {
    background-color: #1db954;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #15a448;
}

.clear-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #14863c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #14863c;;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}